<section class="heading d-flex justify-content-between flex-nowrap">
    <div class="icon"></div>
    <div class="logo-title d-flex flex-nowrap">
        <img class="logo" src="../../assets/images/temp.jpg" alt="">
        <p>روزنامه دیواری</p>
    </div>
</section>
<section class="high-light">
    <h2>پنجره امید</h2>
    <div class="content">
        <img src="../../assets/images/temp.jpg" alt="">
        <ul class="poem">
            <li class="poem-line"><span>تونل های تاریک را نابینایان گذرانده اند</span><span>تبعیض ها را سیاهان چشیده</span></li>
            <li class="poem-line"><span>بی کاری را  کودک کاری فهمید که سرسره بازیش حرام بود </span><span> قرنطینه را ناشنوایان عمری شنیده اند</span></li>
            <li class="poem-line"><span>باز کن پنجره امید را زهر نیست موهبت است </span><span>برج کج زلزله ها می طلبد</span></li>
        </ul>
    </div>
</section>
<section class="main">
    <h2>دل روشن یک روشن دل</h2>
    <div class="content">
       <ul class="poem">
           <li class="poem-line">گفته بودند راه ها را</li>
          
           <li class="poem-line">آیا مسیر همان منزل بود؟</li>
           <li class="poem-line">مگر این نبود که نوری برای یک نابینا نبود</li>
           <li class="poem-line">پس چرا چشم هایم به درون باز شده بود؟؟؟؟</li> 

       </ul>
        
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>
<section class="info">
    <div class="items">
        <ul class="poem">
            <li class="poem-line"><span>تونل های تاریک را نابینایان گذرانده اند</span><span>تبعیض ها را سیاهان چشیده</span></li>
            <li class="poem-line"><span>بی کاری را  کودک کاری فهمید که سرسره بازیش حرام بود </span><span> قرنطینه را ناشنوایان عمری شنیده اند</span></li>
            <li class="poem-line"><span>باز کن پنجره امید را زهر نیست موهبت است </span><span>برج کج زلزله ها می طلبد</span></li>
        </ul>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
    <div class="sign">Shaslkame alefo</div>
    <p>این متنی هست حاوی اطلاعات براییسیتنب سیمنبتنم بتضصقثمن صبثمصضبمکتصضبت صخضتبهخصهتبث خصضتبخهضص تخبهتصضثبخته صثخهبت صخثبهتصخضب خهصثضت</p>
</section>
<section class="footing">
    <div class="follow-us">
        <ul class="media d-flex flex-wrap justify-content-between">
            <li>facebook</li>
            <li>insta </li>
            <li>twitter</li>
        </ul>
        <p>ما رو دنبال کنید</p>
    </div>
    <div class="iconic-info  d-flex flex-wrap ">
        <p>دل نامه</p>
        <img src="../../assets/images/temp.jpg" alt="">
        <p>صثبتنمکمنتصثب صضثصب ص بنمص ثبمنتصض مبنتصمب م</p>
    </div>
    <div class="signing">
        صثبصضبث
    </div>
    <div class="info  d-flex flex-wrap ">
        <p>نمتصبتنمصضثبت نص بضصمبمتنصب صضنتمب ص مبمنص بمضصب کصتبتص بصمنبث مصضتبم تصمنتب صث</p>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>