@import '../../styles/var';

:host {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    min-height      : fit-content;
    background-color: #efe4dc;
    padding         : 2rem 1rem;

    display: grid;

}

img {
    width: 25%;
}

section {
    border: 1px solid salmon;



    &.heading {
        .logo-title {
            .logo {
                width: 60px;
                height: 60px;
            }
        }
        .icon{
            background: url(../../assets/images/icon.jpg) no-repeat ;
            background-position: center;
            background-size: contain;
            width: 4rem;
            height: 4rem;
        }
    }

    &.high-light {
        background-color: $clr-paperwall-highligh;
    }
}