<section class="heading d-flex justify-content-between flex-nowrap">
    <div class="icon"></div>
    <div class="logo-title d-flex flex-nowrap">
        <img class="logo" src="../../assets/images/temp.jpg" alt="">
        <p>روزنامه دیواری</p>
    </div>
</section>
<section class="high-light">
    <h2>پنجره امید</h2>
    <div class="content">
        <img src="../../assets/images/temp.jpg" alt="">
        <ul class="poem">
            <li class="poem-line"><span>تونل های تاریک را نابینایان گذرانده اند</span><span>تبعیض ها را سیاهان چشیده</span></li>
            <li class="poem-line"><span>بی کاری را  کودک کاری فهمید که سرسره بازیش حرام بود </span><span> قرنطینه را ناشنوایان عمری شنیده اند</span></li>
            <li class="poem-line"><span>باز کن پنجره امید را زهر نیست موهبت است </span><span>برج کج زلزله ها می طلبد</span></li>
        </ul>
    </div>
</section>
<section class="main">
    <h2>دل روشن یک روشن دل</h2>
    <div class="content">
       <ul class="poem">
           <li class="poem-line">گفته بودند راه ها را</li>
           <li class="poem-line">میانبر ها و خم پیچ ها را</li>
           <li class="poem-line">که گر به پیچ رسیدی بردار قدم ها را</li>
           <li class="poem-line">پیچ ها گذشت</li>
           <li class="poem-line">راه ها پیچید</li>
           <li class="poem-line">تابلو ها رفته رفته کم رنگ شدند</li>
           <li class="poem-line">تا که دگر پنهان شدند</li>
           <li class="poem-line">تصادف ها آغاز</li>
           <li class="poem-line">رنج و سختی</li>
           <li class="poem-line">سردرگمی بی منزلی</li>
           <li class="poem-line">خس و خاشاک چشم ها را در بر گرفتند</li>
           <li class="poem-line">کوری و بی پناهی</li>
           <li class="poem-line">دفترچه راهنما ورق برای گفتن نداشت</li>
           <li class="poem-line">در این بی شنوایی و کوری و درماندگی</li>
           <li class="poem-line">ندا ها کور سو نداشت</li>
           <li class="poem-line">تشنه ی یک کمی نور</li>
           <li class="poem-line">در تاریکی نابینایی</li>
           <li class="poem-line">نور درخشید</li>
           <li class="poem-line">نه از برون بل از درون</li>
           <li class="poem-line">نور سپید</li>
           <li class="poem-line">حتی چشم نابینایان را نیز می زد</li>
           <li class="poem-line">مگر ممکن بود</li>
           <li class="poem-line">نکند سردرگمی جواب بود</li>
           <li class="poem-line">آیا مسیر همان منزل بود؟</li>
           <li class="poem-line">مگر این نبود که نوری برای یک نابینا نبود</li>
           <li class="poem-line">پس چرا چشم هایم به درون باز شده بود؟؟؟؟</li> 

       </ul>
        
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>
<section class="info">
    <div class="items">
        <ul>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
        </ul>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
    <div class="sign">Shaslkame alefo</div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora libero unde quis rem neque eum officiis,
        dolorem provident veniam sed?</p>
</section>
<section class="footing">
    <div class="follow-us">
        <ul>
            <li>facebook</li>
            <li>insta </li>
            <li>twitter</li>
        </ul>
        <p>follow us on social</p>
    </div>
    <div class="iconic-info">
        <p>blue houses</p>
        <img src="../../assets/images/temp.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, consectetur?</p>
    </div>
    <div class="signing">
        this is signing
    </div>
    <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo adipisci dignissimos reprehenderit eius!</p>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>