<section class="heading d-flex justify-content-between flex-nowrap">
    <div class="icon"></div>
    <div class="logo-title d-flex flex-nowrap">
        <img class="logo" src="../../assets/images/temp.jpg" alt="">
        <p>روزنامه دیواری</p>
    </div>
</section>
<section class="high-light">
    <h2>heading</h2>
    <div class="content">
        <img src="../../assets/images/temp.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae assumenda numquam ratione quis quam nisi
            repellat placeat, similique tempore quo delectus voluptates.</p>
    </div>
</section>
<section class="main">
    <h2>heading main</h2>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis esse, asperiores voluptate quia commodi
            quidem animi perspiciatis labore nemo obcaecati?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque, modi possimus natus ab in quibusdam
            earum nobis accusantium necessitatibus.</p>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>
<section class="info">
    <div class="items">
        <ul>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
            <li>salam</li>
        </ul>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
    <div class="sign">Shaslkame alefo</div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora libero unde quis rem neque eum officiis,
        dolorem provident veniam sed?</p>
</section>
<section class="footing">
    <div class="follow-us">
        <ul>
            <li>facebook</li>
            <li>insta </li>
            <li>twitter</li>
        </ul>
        <p>follow us on social</p>
    </div>
    <div class="iconic-info">
        <p>blue houses</p>
        <img src="../../assets/images/temp.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, consectetur?</p>
    </div>
    <div class="signing">
        this is signing
    </div>
    <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo adipisci dignissimos reprehenderit eius!</p>
        <img src="../../assets/images/temp.jpg" alt="">
    </div>
</section>