@import "../../styles/var";

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: fit-content;
    background-color: #efe4dc;
    padding: 2rem 1rem;
    text-align: center;
}
img {
    width: 25%;
}

section {
    margin: 1rem;
    padding: 0.5rem 0.15rem;
    &.heading {
        .logo-title {
            .logo {
                width: 60px;
                height: 60px;
            }
        }
        .icon {
            background: url(../../assets/images/icon.jpg) no-repeat;
            background-position: center;
            background-size: contain;
            width: 4rem;
            height: 4rem;
        }
    }

    &.high-light {
        padding-left: 0%;
        padding-right: 0%;
        background-color: $clr-paperwall-highligh;
    }

    p {
        text-align: justify;
    }

    .poem {
        padding: 0%;
        .poem-line {
            padding: 1rem;

            display: flex;
            justify-content: space-between;
        }
    }
}
