@font-face {
    font-family: BMedad;
    src: url(../assets/fonts/BMedad.ttf);
}
@font-face {
    font-family: BZiba;
    src: url(../assets/fonts/BZiba.ttf);
}
@font-face {
    font-family: FarNazanin;
    src: url(../assets/fonts/FarNazanin.ttf);
}
@font-face {
    font-family: iranNastaliq;
    src: url(../assets/fonts/iranNastaliq.ttf);
}
@font-face {
    font-family: mj_Smooth;
    src: url(../assets/fonts/mj_Smooth.ttf);
}