/* You can add global styles to this file, and also import other style files */
@import "./var";
@import "./fonts.scss";

// FONTS
// BMedad,BZiba,FarNazanin,iranNastaliq,mj_Smooth;
// END FONTS

// STYLE
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: $clr-background;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    font-family: BZiba, FarNazanin, Arial, Helvetica, sans-serif;
    font-size: clamp(1rem,5vw,2rem);
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

li {
    list-style: none;
}

a {
    font-size: clamp(1.5rem, 5vw, 3rem) !important;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}


.bg-no-repeat{
    background-repeat: no-repeat;
}

.bg-contain{
    background-size: contain;
}
.bg-cover{
    background-size: cover;
}

.bg-center{ 
    background-position: center;
}