<div class="menu-btn" [ngClass]="{'opened-menu':toggleMenu}" (click)="toggleMenu=!toggleMenu">
  <span class="line" [ngClass]="{'bg-dark':toggleMenu}"></span>
  <span class="line" [ngClass]="{'bg-dark':toggleMenu}"></span>
</div>
<div class="menu" [ngClass]="{'toggle-menu':toggleMenu}">

  <ul class="h-100 mt-5 menu-items dir-rtl">
    <li class="menu-item"><a class="text-dark" href="">خانه</a></li>
    <li class="menu-item"><a class="text-dark" href="">روزنامه دیواری</a></li>
    <li class="menu-item"><a class="text-dark" href="">دل نامه ها</a></li>
  </ul>
</div>