<div class="menu-btn" [ngClass]="{'opened-menu':toggleMenu}" (click)="toggleMenu=!toggleMenu">
  <span class="line" [ngClass]="{'bg-dark':toggleMenu}"></span>
  <span class="line" [ngClass]="{'bg-dark':toggleMenu}"></span>
</div>
<div class="menu d-flex flex-column justify-content-center" [ngClass]="{'toggle-menu':toggleMenu}">

  <ul class="menu-items w-100 p-0  dir-rtl d-flex flex-column justify-content-center align-items-center">
    <li class="menu-item menu-link home-link">
      <a class="text-light" href=""> خانه</a>
    </li>
    <li class="menu-item menu-link paperwall-link">
      <a class="text-light d-flex justify-content-between" href=""><span>دیواری</span>&nbsp;<span>روزنامه </span></a>
    </li>
    <li class="menu-item menu-link poets-link">
      <a class="text-light" href="">دل نامه ها</a> 
    </li>
  </ul>
</div>