@import "../../styles/var";
.menu {
	position: absolute;
	right: 100%;
	left:-200%;
	top: 0%;
	bottom: 0%;
	transition: right 0.5s, left 0.5s;
	background-color: white;
}

.toggle-menu {
	right: 60%;
	left: 0;

	transition: right 0.5s, left 0.5s;
}

.menu-btn {
	border: 1px solid white;
	border-radius: 50%;
	width: 60px;
	height: 60px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	padding: 0.5rem;
	cursor: pointer;

	position: absolute;
	top: 3%;
	left: 3%;

	z-index: 10000;

	.line {
		width: 80%;
		margin: auto;
		height: 2px;
		background-color: white;
	}
}

.opened-menu{
	border: 1px solid black;
}

