<div class="menu"  [ngClass]="{'toggle-menu':toggleMenu}">
  <button class="navbar-toggler m-2 cstm-navbar-toggler border-light" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleMenu=!toggleMenu"
    >
    <div class="demo">
      <div class="menu-icon">
        <input class="menu-icon__cheeckbox" type="checkbox" />
        <div>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </button>
  <ul class="menu-items">
    <li class="menu-item">خانه</li>
    <li class="menu-item">روزنامه دیواری</li>
    <li class="menu-item">دل نامه ها</li>
  </ul>
</div>