<section class="main ">
    <header class="header"></header>
    <h1 class="title text-light ">دل نامه</h1>
    <div class="pic1 animating text-light">3434</div>
    <div class="pic2 animating text-light">sdewfefwfe</div>
    <div class="logo text-light">sdwfe</div>
    <div class="heading text-light">متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن </div>
    <div class="content text-light">متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن متن </div>
    <footer class="footer text-light">یه متنی انیجاست</footer>
</section>