<section class="main ">
    <header class="header"></header>
    <h1 class="title text-light ">دل نامه</h1>
    <div class="logo text-light">لوگو</div>
    <div class="pic1 animating text-light bg-cover bg-center bg-no-repeat">عکس</div>
    <div class="heading text-light poem"> ماهی از آب صید و جون مرگ شد...پیش مرگش سرنوشتش را جویا بشد...اشکش ریزان زان بخت سیاه، بانگ قلبش برآمد در این میان...گفت قطره در غربت، نامش قطره است...چون که در دریا فتاد گم نام گشت...ماهی نامت بود چون که قطره بدی، از دریای ازل، گسسته بودی....روزگار ماهی نامت هست ختم، مرگ زین دریا قطره هست در ابد </div>
    <div class="pic2 animating text-light bg-cover bg-center bg-no-repeat">عکس 2</div>
    <div class="content text-light poem"> در این حیرانی...گشتم و گشتم...به کورسوی راهنما...به اشاره های جاده ها...گشتم و گشتم...به دور خود...دیگران رقص سماع دیدند و من حیرانی...گفتند این موجود از فضا گریخته....شاید چاره ی ما را نیز با خود آورده....پس گشتند به دور حیرانی خود....سماع در بر گرفت هر حیران را.....دگر نگاه ها محو شد...سیاهی درون ساکت شد.....زد کورسوی نور از درون به درون....یافت شد قطب نمای درون و بیرون....این بود پاسخ سماع حیرانی.... مجو جستن را پیرامون، گر دانایی...</div>
    <footer class="footer text-light">فوتر</footer>
</section> 